.fortune-container {
  @include display-column;
  @include align-justify-center;
  .wheel-container {
    @include display-row;
    .wheel {
      width: 24rem;
      height: 24rem;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      border: 8px solid #fff;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px, rgba(0, 0, 0, 0.05) 0px 3px 0px;
      background-color: $maroon-400;
      transform: rotate(0deg);
      #wheel-rotate {
        transform-origin: 12rem 12rem;
      }
      .inner-wheel {
        width: 100%;
        height: 100%;
        -webkit-transition: all 6s cubic-bezier(0, 0.99, 0.44, 0.99);
        -moz-transition: all 6 cubic-bezier(0, 0.99, 0.44, 0.99);
        -o-transition: all 6s cubic-bezier(0, 0.99, 0.44, 0.99);
        -ms-transition: all 6s cubic-bezier(0, 0.99, 0.44, 0.99);
        transition: all 6s cubic-bezier(0, 0.99, 0.44, 0.99);
      }
      .sec {
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 14.485rem 6rem 0;
        transform-origin: 6rem 14.485rem;
        left: 6rem;
        top: -2.5rem;
        opacity: 1;
        &:nth-child(1) {
          transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          border-color: $maroon-400 transparent;
        }
        &:nth-child(2) {
          transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          border-color: $maroon-600 transparent;
        }
        &:nth-child(3) {
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          border-color: $maroon-700 transparent;
        }
        &:nth-child(4) {
          transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          border-color: $maroon-500 transparent;
        }
        &:nth-child(5) {
          transform: rotate(225deg);
          -webkit-transform: rotate(225deg);
          -moz-transform: rotate(225deg);
          -o-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
          border-color: $maroon-400 transparent;
        }
        &:nth-child(6) {
          transform: rotate(270deg);
          -webkit-transform: rotate(270deg);
          -moz-transform: rotate(270deg);
          -o-transform: rotate(270deg);
          -ms-transform: rotate(270deg);
          border-color: $maroon-600 transparent;
        }
        &:nth-child(7) {
          transform: rotate(315deg);
          -webkit-transform: rotate(315deg);
          -moz-transform: rotate(315deg);
          -o-transform: rotate(315deg);
          -ms-transform: rotate(315deg);
          border-color: $maroon-700 transparent;
        }
        &:nth-child(8) {
          transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          border-color: $maroon-500 transparent;
        }
      }
    }

    .spin-container {
      @include display-row;
      @include align-justify-center;
      background-color: $yellow-500;
      border-radius: 50%;
      width: 8rem;
      height: 8rem;
      position: absolute;
      top: 36%;
      margin: auto;
      left: 0;
      right: 0;
      border-radius: 50%;
      z-index: 100;
      .spin-inner {
        background-color: $yellow-500;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;

        box-shadow: 0px 3.74199px 3.74199px rgba($yellow-800, 0.25);
      }
    }
  }

  @-webkit-keyframes hh {
    0%,
    100% {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }

    50% {
      transform: rotate(7deg);
      -webkit-transform: rotate(7deg);
    }
  }

  @keyframes hh {
    0%,
    100% {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }

    50% {
      transform: rotate(7deg);
      -webkit-transform: rotate(7deg);
    }
  }

  .spin {
    -webkit-animation: hh 0.1s; /* Chrome, Safari, Opera */
    animation: hh 0.1s;
  }

  .progress-container {
    @include display-row;
    @include align-justify-center;
    width: fit-content;
    margin-top: 3rem;
    position: relative;
    width: 15.6rem;
    height: 5rem;
    position: relative;
    .vertical-seperator {
      position: absolute;
      width: 0px;
      left: 5rem;
      height: 1.15625rem;
      border: 2px solid $black;
      border-radius: 50%;
      z-index: 10;
    }

    .full-progress-bar,
    .empty-progress-bar {
      position: absolute;
      width: 0px;
      height: 5rem;
      left: 0;
      svg {
        left: 0;
        position: absolute;
      }
    }
    .full-progress-bar {
      overflow: hidden;
      z-index: 1;
    }
  }
}

.main-stop {
  stop-color: #e23a3a;
}
.mid-stop {
  stop-color: #dbd174;
}
.alt-stop {
  stop-color: #148e2f;
}
