@font-face {
  font-family: "Metropolis";
  src: url("../../fonts/Metropolis-Regular.woff") format("woff"),
    url("../../fonts/Metropolis-Bold.woff") format("woff"),
    url("../../fonts/Metropolis-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
%font-base {
  font-style: normal;
  font-weight: normal;
}

.fs-large {
  @extend %font-base;

  font-size: 2.5rem;
}

.fs-xxxxxl {
  @extend %font-base;

  font-size: 2rem;
}

.fs-xxxxl {
  @extend %font-base;

  font-size: 1.75rem;
}

.fs-xxxl {
  @extend %font-base;

  font-size: 1.5rem;
}

.fs-xxl {
  @extend %font-base;

  font-size: 1.25rem;
}

.fs-xl {
  @extend %font-base;

  font-size: 1.125rem;
}

.fs-l {
  @extend %font-base;

  font-size: 1rem;
}

.fs-m {
  @extend %font-base;

  font-size: 0.875rem !important;
}

.fs-s {
  @extend %font-base;

  font-size: 0.75rem;
}

.fs-xs {
  @extend %font-base;

  font-size: 0.625rem;
}

.fw-bold {
  font-weight: 600 !important;
}

.fw-bolder {
  font-weight: 800 !important;
}

.fw-n {
  font-weight: normal;
}
