/* Util Rules */

.overflow-hidden {
  overflow: hidden !important;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fallback-spinner {
  @include full-screen-parent;
  @include display-column;
  @include align-justify-center;
}

.error-container {
  @extend .fs-l;
  @include full-screen-parent;
  @include display-column;
  @include align-justify-center;

  background-color: $grey-100;

  .error-boundary-icon {
    height: 7.5rem;
    width: 7.5rem;
  }
}

.btn-primary {
  background-color: $maroon-700 !important;
  border-color: $maroon-600 !important;
}
